@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";


body{
  overscroll-behavior: none;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 2s ease;

}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}
.text-transparent{
  opacity: 0;
}

.console-font{
font-family: $font-mono;
color: $console-green;
text-shadow: 0px 0px 3px $console-green-50;
&.font-dark{
  color: #04080F;
}
}

.font-metal{
  font-family: 'Metal Mania';
}


.console-border{

}

.console-window{
  border: 2px outset $console-green;
  background-color:  black;
  .bar{
    height: 1.5em;
    background-color: $console-green;
  }
  .console{
    border: 2px inset $console-green
  }
}

.console-window input.user-input{
  background-color: transparent;
  color: $console-green;
  text-shadow: 0px 0px 3px $console-green-50;
  border: 0 !important;
  border-radius: 0px;
  outline: 0;
  &:focus{
    border-bottom: 1px solid $console-green;
    outline: 0;
  }
  +cursor{
    background-color: red;
    width: 5px;
  }
}

.grimtol-bg{
  background-color: #04080F !important;
  background-image: url(src/assets/img/grimtolTownWide.png);
  background-size: cover;
  background-position: left;
  image-rendering: pixelated;
}

.locked{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15px;
  opacity: 0;
}

.show-site{
  .locked.header{
    grid-template-rows: 150px;
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease;
}

  .locked{
    opacity: 1;
    grid-template-rows: 1fr;
    transition: all 1s ease;
}
}

