@font-face {
  font-family: 'grimtol_23';
  src:  url('grimtol_23.eot?9ep1bj');
  src:  url('grimtol_23.eot?9ep1bj#iefix') format('embedded-opentype'),
    url('grimtol_23.ttf?9ep1bj') format('truetype'),
    url('grimtol_23.woff?9ep1bj') format('woff'),
    url('grimtol_23.svg?9ep1bj#grimtol_23') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'grimtol_23' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pointer:before {
  content: "\e917";
}
.icon-pointer-alt:before {
  content: "\e91e";
}
.icon-bat:before {
  content: "\e900";
}
.icon-book:before {
  content: "\e901";
}
.icon-books:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-cog:before {
  content: "\e904";
}
.icon-cogs:before {
  content: "\e905";
}
.icon-compass:before {
  content: "\e906";
}
.icon-grave:before {
  content: "\e907";
}
.icon-grimtol:before {
  content: "\e908";
}
.icon-grimtol-alt:before {
  content: "\e909";
}
.icon-hand:before {
  content: "\e90a";
}
.icon-hand-alt:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e90c";
}
.icon-knife:before {
  content: "\e90d";
}
.icon-logo:before {
  content: "\e90e";
}
.icon-logo-alt:before {
  content: "\e90f";
}
.icon-mail:before {
  content: "\e910";
}
.icon-marker:before {
  content: "\e911";
}
.icon-moon:before {
  content: "\e912";
}
.icon-paper:before {
  content: "\e913";
}
.icon-paper_1:before {
  content: "\e914";
}
.icon-pentagram:before {
  content: "\e915";
}
.icon-picture:before {
  content: "\e916";
}
.icon-potion:before {
  content: "\e918";
}
.icon-skull:before {
  content: "\e919";
}
.icon-smile:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91b";
}
.icon-time:before {
  content: "\e91c";
}
.icon-web:before {
  content: "\e91d";
}
